<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enfle.android.mediacontent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity android:name=".movie.list.MovieListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".movie.detail.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="156c45db84f959fff0626bd3c7ff7354bbd0c94b" />

    </application>

</manifest>